/* UNIVERSAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: peachpuff;
}

.header p{
    text-align: center;
    font-size: 20px;
}

.footer{
    background-color: peachpuff;
}

.footer p{
    text-align: center;
    font-size: 20px;
}

/* INDEX */

.titulo-ppal{
    text-align: center;
    font-family: Verdana;
    color: crimson;
    font-size: 40px;
}