/* UNIVERSAL 
Paleta de colores
Color fondo FFFFFA
Color oscuro 2D3047
Color celeste 048A81
Color manzana 72B01D */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFA;

}

/* INICIO */

.portadaInicio {
    background-color: #048A81;
    height: 600px;
}

.header {
    background-color: #72B01D;    
    width: 100%;
    height: 65px;
}

.header p {
    text-align: center;
    font-size: 20px;
}

.footer {
    background-color: #72B01D;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    height: 100px;
}

.footer p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFA;
}

/* INDEX */

.tituloInicio {
    font-family: Verdana;
    color: #FFFFFA;
    font-size: 40px;
}

.contenido{
    margin: 2rem;
}

.imgInicio{
    width: 50%;
}

/* TIENDA */

/* PRESUPUESTO */

/* CONTACTO */

.formContacto{
    width: 50%;
    padding: 3rem;
}

.campoNegrita{
    font-weight: bold;
}
